<launch>
	<param name="robot_description" textfile="$(find reactor_description)/robots/reactor_description.URDF" />
	<rosparam file="$(find reactor_controller)/config/controllers.yaml" command="load" />

	<node name="dynamixel_trajectory_controller" pkg="dynamixel_controllers" type="trajectory_controller.py"
          args="dynamixel_controllers"
          output="screen" >
		<rosparam file="$(find reactor_controller)/config/manager.yaml" command="load" />
    </node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
